{% extends "blog/base.html" %}
    {% block title %}My blog {% endblock %}
    {% block content %}
<h1 class="is-size-5 title has-text-centered"> Мой блог </h1>
    {% for post in posts %}
<div class="blog_wrap">
    <h5 class="is-size-5"> {{ post.title }}</h5>
    <p class="blog_body"> {{ post.body|truncatewords:30|linebreaks }} </p>
    <p class="blot_time">Опубликовано {{ post.publsih }} by {{ post.author }}</p>
    <a href="{{ post.get_absolute_url }}">Продолжить чтение</a>
</div>
{% endfor %}
{% endblock %}